apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: teslamate
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16.8
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: teslamate
            - name: POSTGRES_DB
              value: teslamate
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: teslamate-db-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
              subPath: pgdata
          securityContext:
            runAsUser: 999
            runAsGroup: 999
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          resources:
            requests:
              memory: 256Mi
              cpu: 100m
            limits:
              memory: 512Mi
              cpu: 1000m
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-data
